@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@theme{
    --color-midnight-green: #004e64;
    --color-pacific-cyan: #00a5cfff;
    --color-aquamarine: #9fffcb;
    --color-persian-green: #25a18eff;
    --color-light-green: #7ae582ff;
    --color-white: #f5f5f5;
    --color-dark-green: #162c38;
}